.statusContainer{
    width: 100%;
    /* background-color: aqua; */
    padding: 0.5rem;
}
.header{
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1px;
}

.left,.right{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.icon{
    margin-top: 2px;
}

.title{
    font-weight: bold;
    opacity: 0.7;
}
.done{
    background-color: blue;
    padding: 1px;
}
.itemLength{
    color:#8F9297;
    margin-left: 5px;
}

.add, .more{
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .statusContainer{
        width: 50%;
    }
}

@media screen and (min-width:768px) and (max-width: 1200px) {
    .statusContainer{
        width: 33%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .statusContainer{
        width: 25%;
    }
}

@media only screen and (min-width: 1600px) {
    .statusContainer{
        width: 20%;
    }
}

    
