.layoutHeader{
    height: 8vh;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    
}
.layoutBody{
    min-height: 92vh;
    height: auto;
    background-color: #F4F5F8;
    font-weight: 500;
    padding: 0 1rem;
}